.About {
  background-color: #808E95;
  display: flex;
}

.About-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  align-self: center;
  margin-left: 10vh;
  color: #FFFFFF;

  &-name {
    font-weight: bold;
  }

  &-occupation {
    font-size: 34px;
    line-height: 64px;
  }

  &-description {
    font-size: 23px;
    line-height: 40px;
  }
}

.About-image {
  max-height: 95vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  img {
    width: 40vw;
  }
}
