@import '../variables.scss';

.Projects-container {
  margin: $section-margins;
  display: flex;
  flex-direction: column;
}

.Projects-items-container {
  margin: 2vh $section-margins;
}

.ProjectItem {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  color: inherit;
  text-decoration: none;

  &:hover, &:focus {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
    outline: none;
  }
}

.ProjectItem-image {
  display: flex;
  align-items: center;

  img {
    max-width: 12vh;
  }
}

.ProjectItem-details {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;

  .ProjectItem-title {
    font-size: 35px;
  }

  .ProjectItem-tools {
    font-size: 14px;
    margin: 4px 0 8px 0;
  }

  .ProjectItem-description-item {
    margin-top: 5px;
  }
}
