@import './variables.scss';

.Section {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height});

  &-Primary {
    background-color: #808E95;
    color: #FFFFFF;
  }

  &-Secondary {
    background-color: #FFFFFF;
    color: #808E95;
  }

  &-header {
    font-size: 72px;
  }
}

.ScrollMarker {
  position: relative;
  top: -$navbar-height;
}
