.Section {
  width: 100%;

  &-Primary {
    background-color: #808E95;
    color: #FFFFFF;
  }

  &-Secondary {
    background-color: #FFFFFF;
    color: #808E95;
  }

  &-header {
    font-size: 72px;
  }
}
